{
    "symbol":  [
                   "XTB.WA",
                   "KRU.WA",
                   "AVGO",
                   "MU"
               ],
    "value":  [
                  11055.96,
                  8995.80,
                  4562.66,
                  3723.79
              ]
}
